body {
    /* width: 100vh; */
    height: 100vh;
}

.dealerHand {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    
}
 
    
.playerHand {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
}    



.infoHeader {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

img {
    height: 180px;
    width: 150px
}
