body {
    /* width: 100vh; */
    height: 100vh;
}

.dealerHand {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    
}
 
    
.playerHand {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
}    

.displayPlayerCards {

}

.infoHeader {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
