body {
    /* width: 100vh; */
    height: 100vh;
    background-color: lightslategray;
}

.dealerHand {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}

.displayDealerCards {
    display: flex;
    gap: 20px;
}

.displayPlayerCards {
    display: flex;
    gap: 20px;
    
}
    
.playerHand {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
}    



.infoHeader {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

.titleHead {
    text-align: center;
}

img {
    height: 180px;
    width: 150px
}
